<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
        <add name="CoffeeDB"
        connectionString="Server=localhost\SQLEXPRESS;Database=coffee_system;Trusted_Connection=True;" />
    </startup>
</configuration>